<h1 class="mat-display-1">About</h1>
<p class="mat-body">
    <mat-icon>account_tree</mat-icon>
    <span>Source code: <a mat-button href="https://github.com/kovacszsolt/news-frontend-angular-remote" target="_blank">https://github.com/kovacszsolt/news-frontend-angular-remote</a></span>
</p>
<p class="mat-body">
    <mat-icon>account_tree</mat-icon>
    <span> Twitter: <a mat-button href="https://twitter.com/itnewsdotcloud" target="_blank">https://twitter.com/itnewsdotcloud</a></span>
</p>
<p class="mat-body">
    <mat-icon>email</mat-icon>
    <span>Owner: <a mat-button mailto="smith.zsolt@gmail.com"
                    target="_blank">Zsolt Kovacs - smith.zsolt@gmail.com</a></span>
</p>
