<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div>
            <button mat-button (click)="setLocation('/')">{{title}}</button>
            <span class="messageText">{{messageText}}</span>
        </div>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>dehaze</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button (click)="setLocation('/about/')" mat-menu-item>
                    <mat-icon>info</mat-icon>
                    <span>About</span>
                </button>
                <button (click)="setLocation('/cookie/')" mat-menu-item>
                    <mat-icon>fingerprint</mat-icon>
                    <span>Cookie usage</span>
                </button>
            </mat-menu>
        </div>

    </mat-toolbar-row>

</mat-toolbar>
<main>
    <router-outlet></router-outlet>
</main>

