<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div>
            <a mat-button href="/">IT News dot Cloud</a>
            <span class="messageText">{{messageText}}</span>
        </div>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>dehaze</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <a href="/about/" mat-menu-item>
                    <mat-icon>info</mat-icon>
                    <span>About</span>
                </a>
                <a href="/cookie/" mat-menu-item>
                    <mat-icon>fingerprint</mat-icon>
                    <span>Cookie usage</span>
                </a>
            </mat-menu>
        </div>

    </mat-toolbar-row>

</mat-toolbar>
<main>
    <router-outlet></router-outlet>
</main>

