<mat-card class="example-card">
  <a [routerLink]="[data.meta.slug]" href="">
    <mat-card-header>
      <mat-card-title>{{data.meta.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{data.meta.imageUrl}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{data.meta.description}}
      </p>
    </mat-card-content>
  </a>
  <mat-card-actions>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of data.tags" [routerLink]="['/tag/', tag]">{{tag}}</mat-chip>
    </mat-chip-list>
  </mat-card-actions>

</mat-card>
